@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap");
* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

/* tombol back to top */
#back-to-top {
  display: none;
  position: fixed;
  bottom: 5%;
  right: 2%;
  width: 60px;
  height: 60px;
  border: none;
  border-radius: 5px;
  background-color: rgba(0, 0, 0, 0.178);
}

#back-to-top:hover {
  background-color: rgba(0, 0, 0, 0.411);
}

/* penahan */
.penahan {
  width: 100%;
  height: 90px;
  display: none;
}

/* ---------- Navbar ---------- */

/* logo navbar */
.navbar a img {
  width: 85px;
  height: 70px;
  margin-left: 20px;
}

/* ul navbar */
.navbar .navbar-nav {
  margin-left: 73%;
  font-size: 20px;
  font-weight: bold;
}

/* a navbar */
.navbar .navbar-nav .nav-item a {
  color: black;
  text-decoration: none;
}

.navbar .navbar-nav .nav-item a:hover {
  color: rgb(126, 126, 126);
}

/* a contact */
.navbar .navbar-nav .nav-item:nth-child(2) {
  margin-left: 30%;
}

/* ---------- Bckground top (YEEZY BOOST 370 V2, Adidas & Gray-bg) ---------- */

/* adidas */
.adidas {
  position: absolute;
  top: 100px;
  margin-left: -110px;
  z-index: -1;
}

/* img adidas */
.adidas img {
  width: 1000px;
}

/* grey-bg */
.grey-bg {
  width: 100%;
  margin-top: 10px;
}

/* grey-bg (segitiga) */
.grey-bg img {
  width: 100%;
  position: absolute;
  z-index: -1;
  margin-top: 20px;
}

/* grey-bg (kotak) */
.grey-bg .kotak {
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 800px;
  background: linear-gradient(#dedada, white);
  margin-top: 510px;
}

/* background text */
.back-text {
  position: absolute;
  top: 20px;
  left: 23%;
  z-index: -1;
  transform: rotate(-90deg);
  -webkit-transform: rotate(-90deg);
  color: black;
}

/* YEEZY BOOST */
.back-text div:nth-child(1) {
  width: 420px;
  line-height: 100px;
  margin-left: 160px;
  font-weight: bolder;
  font-size: 100px;
  letter-spacing: 13px;
  text-align: justify;
}

/* BOOST */
.back-text div:nth-child(1) span {
  padding-left: 20px;
}

/* 370*/
.back-text div:nth-child(2) {
  width: 650px;
  line-height: 240px;
  font-size: 300px;
  font-weight: 900;
  letter-spacing: 60px;
  text-align: center;
  color: transparent;
  -webkit-text-stroke: 0.5px black;
}

/* V2 */
.back-text div:nth-child(3) {
  width: 300px;
  line-height: 160px;
  margin-left: 280px;
  font-size: 200px;
  font-weight: 900;
  letter-spacing: 30px;
  color: transparent;
  -webkit-text-stroke: 0.5px black;
}

/* ---------- Banner ---------- */

.banner {
  width: 100%;
  /* border: 2px solid black; */
}

.banner table:nth-child(2) {
  display: none;
}

/* table banner sepatu */
.banner table {
  margin-left: 28%;
  margin-top: 140px;
}

/* gambar utama banner */
.banner table .img-main-banner {
  width: 700px;
  height: 350px;
}

/* tombol klik ganti gambar */
.banner table .change-img {
  font-size: 50px;
  margin-left: 10px;
  margin-right: 10px;
  cursor: pointer;
}

.banner table .change-img:hover {
  color: rgb(126, 126, 126);
}

/* gambar disamping banner */
.banner table .img-second-banner {
  width: 150px;
  margin-bottom: 25px;
}

/* mengatur grid tombol ganti warna sepatu */
.banner table tr:nth-child(5) td {
  padding-left: 110%;
  border: none;
  display: grid;
  grid-template-columns: auto auto;
}

/* tombol ganti warna sepatu ke hitam */
.banner table .change-to-black {
  width: 40px;
  height: 40px;
  background-color: rgb(233, 229, 229);
  border: 3px solid black;
  border-radius: 50%;
  cursor: pointer;
}

.banner table .change-to-black:hover {
  background-color: rgb(194, 191, 191);
}

/* tombol ganti warna sepatu ke hijau */
.banner table .change-to-green {
  width: 40px;
  height: 40px;
  background-color: #bbe315;
  border: 3px solid black;
  border-radius: 50%;
  margin-left: 10px;
  cursor: pointer;
}

.banner table .change-to-green:hover {
  background-color: #8ead12;
}

/* ---------- Harga Banner ---------- */
.harga-banner {
  position: absolute;
  top: 600px;
  width: 32%;
  margin-left: 9%;
}

/* YEEZY BOST 350 V2 ZEBRA */
.harga-banner div:nth-child(1) {
  width: 145px;
  margin: auto;
  line-height: 25px;
  text-align: center;
  color: #8f8e8e;
  font-size: 22px;
  font-weight: bold;
}

.harga-banner div:nth-child(1) span {
  color: black;
}

/* harga */
.harga-banner div:nth-child(2) {
  font-size: 40px;
  font-weight: 600;
  color: black;
}

/* harga awal */
.harga-banner div:nth-child(2) span:nth-child(1) {
  font-size: 22px;
  color: rgb(105, 104, 104);
  font-weight: normal;
  text-decoration: line-through solid black;
  vertical-align: text-top;
}

/* diskon */
.harga-banner div:nth-child(2) span:nth-child(2) {
  font-size: 18px;
  background-color: #8f8e8e;
  vertical-align: text-top;
  margin-left: 7px;
  padding: 3px;
}

/* ---------- Shoes Description ---------- */
.description {
  width: 100%;
  margin-top: 280px;
}

/* judul */
.description .judul {
  width: 45%;
  margin: auto;
  margin-top: 20px;
  font-size: 60px;
  font-weight: 700;
  color: black;
  text-align: center;
  line-height: 15px;
}

/* back-judul */
.description .judul span:nth-child(2) {
  font-size: 60.5px;
  color: transparent;
  -webkit-text-stroke: 0.7px black;
}

/* content */
.description .content {
  margin-top: 100px;
  padding-top: 10px;
  overflow: auto;
}

/* 370 */
.description .content span:nth-child(1) {
  font-size: 350px;
  font-weight: bold;
  position: absolute;
  z-index: -1;
  color: #d3d1d1;
  left: 30px;
  margin-top: 60px;
  letter-spacing: 15px;
  opacity: 0.7;
}

/* img belakang */
.description .content img:nth-child(2) {
  width: 50%;
  position: absolute;
  z-index: -1;
  right: 3%;
  opacity: 0.5;
}

/* img depan */
.description .content img:nth-child(3) {
  width: 50%;
  float: right;
  margin-top: 20px;
  margin-right: 1.5%;
  margin-left: 13%;
}

/* MEN */
.description .content span:nth-child(4) {
  padding: 5px 50px;
  margin-left: 4%;
}

/* & */
.description .content #and {
  margin-left: 3%;
  margin-right: 1%;
  padding: 2px 18px;
  font-size: 45px;
  font-weight: bold;
  color: #444141;
  background-color: #a6a6a6;
  border-radius: 50%;
}

/* WOMAN */
.description .content span:nth-child(8) {
  padding: 5px 80px;
}

/* MEN, WOMAN */
.description .content span:nth-child(4),
.description .content span:nth-child(8) {
  font-size: 35px;
  font-weight: bold;
  color: #444141;
  border: 4px solid #444141;
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
}

/* isi deskripsi */
.description .content div:nth-child(11) {
  margin-left: 4%;
  font-size: 24px;
  font-weight: bold;
}

/* rating */
.description .content .rating {
  margin-left: 4%;
  margin-top: 60px;
  font-size: 17px;
  font-weight: bold;
  color: #444141;
  letter-spacing: 1px;
}

.description .content .rating span:nth-child(6) {
  margin-left: 10px;
}

/* ---------- Product ---------- */

.product {
  width: 100%;
  margin-top: 100px;
  margin-bottom: 150px;
  text-align: center;
}

.product img {
  margin-top: 20px;
  margin-left: 2.6%;
  cursor: pointer;
}

.product img:hover {
  opacity: 0.6;
}

/* ---------- Preview Product ---------- */

.preview-product {
  display: none;
  width: 100%;
  padding-top: 30px;
  position: fixed;
  background-color: #0000008a;
  top: 0;
  bottom: 0;
}

/* content */
.preview-product .content {
  width: 70%;
  height: 600px;
  margin: auto;
  background-color: #d3d1d1;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
}

/* content-top (nama barang & close) */
.preview-product .content .content-top {
  width: 100%;
  padding-top: 10px;
  padding-bottom: 4px;
  background-color: white;
  display: grid;
  grid-template-columns: auto auto;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
}

/* Nama barang */
.preview-product .content .content-top div:nth-child(1) {
  margin-left: 30px;
  font-size: 35px;
}

/* Close */
.preview-product .content .content-top div:nth-child(2) {
  margin-right: 30px;
  font-size: 40px;
  text-align: right;
}

.preview-product .content .content-top div:nth-child(2) span {
  cursor: pointer;
}

/* preview img */
.preview-img img {
  width: 700px;
  height: 350px;
  margin: auto;
  margin-top: 40px;
}

/* harga di preview */
.preview-product .content .harga {
  width: 100%;
  margin-top: 30px;
  text-align: center;
  color: black;
  font-size: 35px;
  font-weight: bold;
}

/* button order */
.preview-product .content #btn-order {
  font-size: 33px;
  width: 100%;
  text-align: center;
  background-color: rgb(5, 128, 5);
  border: none;
  padding-bottom: 5px;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
}

.preview-product .content #btn-order:hover {
  background-color: rgb(4, 109, 4);
}

/* ---------- Footer ---------- */
footer {
  width: 100%;
}

footer img {
  width: 100%;
  height: 300px;
}

/* ---------- Mobile ---------- */
@media (max-width: 600px) {
  /* tombol back to top */
  #back-to-top {
    width: 40px;
    height: 40px;
    right: 4%;
  }

  /* Navbar */
  .navbar {
    position: fixed;
    top: 0;
    width: 100%;
  }

  /* menu navbar */
  #navbarNav {
    margin: 0;
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: rgba(0, 0, 0, 0.041);
  }

  .navbar .navbar-nav {
    margin-left: 0;
  }

  /* garis pemisah menu navbar */
  .navbar .navbar-nav .nav-item:nth-child(2) {
    margin-left: 0;
    border-top: 3px solid black;
    padding-top: 10px;
  }

  .navbar .navbar-nav .nav-item {
    text-align: center;
    padding-bottom: 10px;
  }

  /* penahan */
  .penahan {
    display: block;
  }

  /* background text */
  .back-text {
    display: none;
  }

  /* adidas */
  .adidas {
    top: 140px;
    margin-left: -30px;
  }

  /* img adidas */
  .adidas img {
    width: 250px;
  }

  /* grey-bg (segitiga) */
  .grey-bg {
    margin-top: 45px;
  }

  /* grey-bg (kotak) */
  .grey-bg .kotak {
    margin-top: 130px;
  }

  /* banner */
  .banner {
    width: 100%;
  }

  /* hidden table untuk desktop */
  .banner table:nth-child(1) {
    display: none;
  }

  /* show table untuk mobile */
  .banner table:nth-child(2) {
    display: block;
  }

  /* table */
  .banner table {
    margin-left: 7%;
    margin-top: 80px;
  }

  /* gambar utama banner */
  .banner table .img-main-banner {
    width: 270px;
    height: 130px;
    margin-bottom: 20px;
    cursor: pointer;
  }

  /* img second */
  .banner table .img-second-banner {
    width: 80px;
    margin-bottom: 15px;
  }

  .banner table tr:nth-child(2) td {
    text-align: center;
  }

  /* mengatur grid tombol ganti warna sepatu */
  .banner table tr:nth-child(3) td {
    padding-left: 120%;
    display: grid;
    grid-template-columns: auto auto;
  }

  /* tombol ganti warna sepatu */
  .banner table .change-to-black,
  .banner table .change-to-green {
    width: 25px;
    height: 25px;
    border: 2px solid black;
  }

  /* harga banner */
  .harga-banner {
    top: 420px;
    width: 80%;
    margin-left: 10%;
  }

  /* YEEZY BOOST 350 V2 ZEBRA */
  .harga-banner div:nth-child(1) {
    font-size: 15px;
    width: 101px;
    line-height: 17px;
  }

  /* harga */
  .harga-banner div:nth-child(2) {
    font-size: 25px;
  }

  /* harga awal */
  .harga-banner div:nth-child(2) span:nth-child(1) {
    font-size: 12px;
  }

  /* diskon */
  .harga-banner div:nth-child(2) span:nth-child(2) {
    font-size: 10px;
  }

  /* description */
  .description {
    margin-top: 250px;
  }

  /* judul description */
  .description .judul {
    width: 100%;
    font-size: 28px;
    line-height: 7px;
  }

  /* back-judul description */
  .description .judul span:nth-child(2) {
    font-size: 28.5px;
  }

  /* content description */
  .description .content {
    margin-top: 50px;
  }

  /* img depan */
  .description .content img:nth-child(3) {
    margin-top: 5px;
    margin-left: 10%;
  }

  /* 370 */
  .description .content span:nth-child(1) {
    font-size: 150px;
    left: 10px;
    margin-top: 100px;
  }

  /* MEN, WOMAN */
  .description .content span:nth-child(4),
  .description .content span:nth-child(8) {
    font-size: 18px;
    font-weight: bold;
    color: #444141;
    border: 2.8px solid #444141;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
  }

  /* MEN */
  .description .content span:nth-child(4) {
    padding: 1px 20px;
    margin-left: 2%;
  }

  /* & */
  .description .content #and {
    position: absolute;
    margin-left: 21%;
    padding: 1px 9px;
    font-size: 22px;
    margin-top: -15px;
  }

  /* WOMAN */
  .description .content span:nth-child(8) {
    position: absolute;
    padding: 1px 20px;
    margin-top: 27px;
    margin-left: 6%;
  }

  /* isi deskripsi */
  .description .content div:nth-child(11) {
    margin-left: 3%;
    margin-right: 1.5%;
    font-size: 15px;
    margin-top: 30px;
  }

  /* rating */
  .description .content .rating {
    margin-left: 3%;
    margin-top: 25px;
    font-size: 14px;
    letter-spacing: 0;
  }

  .description .content .rating span:nth-child(6) {
    margin-left: 5px;
  }

  /* product */
  .product {
    margin-top: 70px;
    margin-bottom: 80px;
  }

  /* gambar product */
  .product img {
    width: 46%;
    margin-left: 1%;
    margin-top: 10px;
  }

  /* preview product */
  .preview-product {
    padding-top: 120px;
  }

  /* content preview product */
  .preview-product .content {
    width: 95%;
    height: 300px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
  }

  /* content-top (nama barang & close) */
  .preview-product .content .content-top {
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
  }

  /* Nama barang */
  .preview-product .content .content-top div:nth-child(1) {
    margin-left: 15px;
    font-size: 14px;
  }

  /* Close */
  .preview-product .content .content-top div:nth-child(2) {
    margin-right: 15px;
    font-size: 20px;
    text-align: right;
  }

  /* gambar di preview */
  .preview-img img {
    width: 250px;
    height: 125px;
    margin: auto;
    margin-top: 40px;
  }

  /* harga di preview */
  .preview-product .content .harga {
    width: 100%;
    margin-top: 30px;
    text-align: center;
    color: black;
    font-size: 20px;
    font-weight: bold;
  }

  /* button order */
  .preview-product .content #btn-order {
    font-size: 18px;
    width: 100%;
    text-align: center;
    background-color: rgb(5, 128, 5);
    border: none;
    padding-bottom: 5px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
  }

  /* footer */
  footer img {
    height: 120px;
  }
}
