@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap");
* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
}

body {
  background-image: url("/img/background.png");
  background-repeat: no-repeat;
}

/* ---------- Navbar ---------- */

/* logo navbar */
.navbar a img {
  width: 85px;
  height: 70px;
  margin-left: 20px;
}

/* ul navbar */
.navbar .navbar-nav {
  margin-left: 75%;
  font-size: 20px;
  font-weight: bold;
}

/* a navbar */
.navbar .navbar-nav .nav-item a {
  color: black;
  text-decoration: none;
}

.navbar .navbar-nav .nav-item a:hover {
  color: rgb(126, 126, 126);
}

/* a contact */
.navbar .navbar-nav .nav-item:nth-child(2) {
  margin-left: 70px;
}

/* ---------- Bckground top (YEEZY BOOST 370 V2, Adidas & Gray-bg) ---------- */

/* adidas */
.adidas {
  position: absolute;
  top: 100px;
  margin-left: -110px;
  z-index: -1;
}

/* img adidas */
.adidas img {
  width: 1000px;
}

/* grey-bg */
.grey-bg {
  width: 100%;
  margin-top: 50px;
}

/* grey-bg (segitiga) */
.grey-bg .segitiga {
  position: absolute;
  z-index: -1;
  width: 0;
  height: 0;
  border-left: 904px solid transparent;
  border-bottom: 300px solid #d7d7d7;
  border-top: 205px solid transparent;
  border-right: 450px solid #d7d7d7;
}

/* grey-bg (kotak) */
.grey-bg .kotak {
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 600px;
  background: linear-gradient(#d7d7d7, white);
  top: 650px;
}

/* background text */
.back-text {
  position: absolute;
  top: 20px;
  left: 23%;
  z-index: -1;
  transform: rotate(-90deg);
  color: black;
}

/* YEEZY BOOST */
.back-text div:nth-child(1) {
  width: 420px;
  line-height: 100px;
  margin-left: 160px;
  font-weight: bolder;
  font-size: 100px;
  letter-spacing: 13px;
  text-align: justify;
}

/* BOOST */
.back-text div:nth-child(1) span {
  padding-left: 20px;
}

/* 370*/
.back-text div:nth-child(2) {
  width: 650px;
  line-height: 240px;
  font-size: 300px;
  font-weight: 900;
  letter-spacing: 60px;
  text-align: center;
  color: transparent;
  -webkit-text-stroke: 0.5px black;
}

/* V2 */
.back-text div:nth-child(3) {
  width: 300px;
  line-height: 160px;
  margin-left: 280px;
  font-size: 200px;
  font-weight: 900;
  letter-spacing: 30px;
  color: transparent;
  -webkit-text-stroke: 0.5px black;
}

/* ---------- Banner ---------- */

.banner {
  width: 100%;
  /* border: 2px solid black; */
}

/* table banner sepatu */
.banner table {
  margin-left: 28%;
  margin-top: 140px;
}

/* gambar utama banner */
.banner table .img-main-banner {
  width: 700px;
  height: 350px;
}

/* tombol klik ganti gambar */
.banner table .change-img {
  font-size: 50px;
  margin-left: 10px;
  margin-right: 10px;
  cursor: pointer;
}

.banner table .change-img:hover {
  color: rgb(126, 126, 126);
}

/* gambar disamping banner */
.banner table .img-second-banner {
  width: 150px;
  margin-bottom: 25px;
}

/* mengatur grid tombol ganti warna sepatu */
.banner table tr:nth-child(5) td {
  padding-left: 110%;
  border: none;
  display: grid;
  grid-template-columns: auto auto;
}

/* tombol ganti warna sepatu ke hitam */
.banner table .change-to-black {
  width: 40px;
  height: 40px;
  background-color: rgb(233, 229, 229);
  border: 3px solid black;
  border-radius: 50%;
  cursor: pointer;
}

.banner table .change-to-black:hover {
  background-color: rgb(194, 191, 191);
}

/* tombol ganti warna sepatu ke hijau */
.banner table .change-to-green {
  width: 40px;
  height: 40px;
  background-color: #bbe315;
  border: 3px solid black;
  border-radius: 50%;
  margin-left: 10px;
  cursor: pointer;
}

.banner table .change-to-green:hover {
  background-color: #8ead12;
}

/* ---------- Harga Banner ---------- */
.harga-banner {
  position: absolute;
  top: 600px;
  width: 32%;
  margin-left: 9%;
}

/* YEEZY BOST 350 V2 ZEBRA */
.harga-banner div:nth-child(1) {
  width: 34%;
  margin: auto;
  line-height: 25px;
  text-align: center;
  color: #8f8e8e;
  font-size: 22px;
  font-weight: bold;
}

.harga-banner div:nth-child(1) span {
  color: black;
}

/* harga */
.harga-banner div:nth-child(2) {
  font-size: 40px;
  font-weight: 600;
  color: black;
}

/* harga awal */
.harga-banner div:nth-child(2) span:nth-child(1) {
  font-size: 22px;
  color: rgb(105, 104, 104);
  font-weight: normal;
  text-decoration: line-through solid black;
  vertical-align: text-top;
}

/* diskon */
.harga-banner div:nth-child(2) span:nth-child(2) {
  font-size: 18px;
  background-color: #8f8e8e;
  vertical-align: text-top;
  margin-left: 7px;
  padding: 3px;
}

/* ---------- Shoes Description ---------- */
.description {
  width: 100%;
  /* border: 2px solid black; */
  margin-top: 280px;
}

/* judul */
.description .judul {
  width: 45%;
  margin: auto;
  margin-top: 20px;
  font-size: 60px;
  font-weight: 700;
  color: black;
  text-align: center;
  line-height: 15px;
}

/* back-judul */
.description .judul span:nth-child(2) {
  font-size: 60.5px;
  color: transparent;
  -webkit-text-stroke: 0.7px black;
}

@media (max-width: 600px) {
  #navbarNav {
    margin: 0;
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: rgba(0, 0, 0, 0.021);
  }

  .navbar .navbar-nav {
    margin-left: 0;
  }

  .navbar .navbar-nav .nav-item:nth-child(2) {
    margin-left: 0;
    border-top: 3px solid black;
    padding-top: 10px;
  }

  .navbar .navbar-nav .nav-item {
    text-align: center;
    padding-bottom: 10px;
  }

  .back-text {
    display: none;
  }
}
