@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap");
* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
}

body {
  background-image: url("/img/background.png");
  background-repeat: no-repeat;
}

/* ---------- Navbar ---------- */

/* logo navbar */
.navbar a img {
  width: 85px;
  height: 70px;
  margin-left: 20px;
}

/* ul navbar */
.navbar .navbar-nav {
  margin-left: 75%;
  font-size: 20px;
  font-weight: bold;
}

/* a navbar */
.navbar .navbar-nav .nav-item a {
  color: black;
  text-decoration: none;
}

.navbar .navbar-nav .nav-item a:hover {
  color: rgb(126, 126, 126);
}

/* a contact */
.navbar .navbar-nav .nav-item:nth-child(2) {
  margin-left: 70px;
}

/* ---------- Bckground text (YEEZY BOOST 370 V2) ---------- */

/* background text */
.back-text {
  position: absolute;
  top: 0;
  left: 23%;
  z-index: -1;
  transform: rotate(-90deg);
  color: black;
}

/* YEEZY BOOST */
.back-text span:nth-child(1) {
  font-weight: bolder;
  font-size: 110px;
  letter-spacing: 13px;
  text-align: justify;
}

/* BOOST */
.back-text span:nth-child(1) p:nth-child(2) {
  margin-top: -90px;
}

/* 370 V2 */
.back-text span:nth-child(2) {
  font-size: 300px;
  font-weight: 900;
  letter-spacing: 20px;
  text-align: center;
  color: white;
  -webkit-text-stroke: 0.5px black;
}

.back-text span:nth-child(2) p {
  margin-top: -150px;
}

.back-text span:nth-child(2) p:nth-child(2) {
  margin-top: -80px;
}

/* ---------- Banner ---------- */

.banner {
  width: 100%;
  /* border: 2px solid black; */
}

/* table banner sepatu */
.banner table {
  margin-left: 28%;
  margin-top: 120px;
}

/* gambar utama banner */
.banner table .img-main-banner {
  width: 700px;
  height: 350px;
}

/* tombol klik ganti gambar */
.banner table .change-img {
  font-size: 50px;
  margin-left: 10px;
  margin-right: 10px;
  cursor: pointer;
}

.banner table .change-img:hover {
  color: rgb(126, 126, 126);
}

/* gambar disamping banner */
.banner table .img-second-banner {
  width: 150px;
  margin-bottom: 25px;
}

/* mengatur grid tombol ganti warna sepatu */
.banner table tr:nth-child(5) td {
  padding-left: 110%;
  border: none;
  display: grid;
  grid-template-columns: auto auto;
}

/* tombol ganti warna sepatu ke hitam */
.banner table .change-to-black {
  width: 40px;
  height: 40px;
  background-color: rgb(233, 229, 229);
  border: 3px solid black;
  border-radius: 50%;
  cursor: pointer;
}

.banner table .change-to-black:hover {
  background-color: rgb(194, 191, 191);
  border: 3px solid blue;
}

/* tombol ganti warna sepatu ke hijau */
.banner table .change-to-green {
  width: 40px;
  height: 40px;
  background-color: green;
  border: 3px solid black;
  border-radius: 50%;
  margin-left: 10px;
  cursor: pointer;
}

.banner table .change-to-green:hover {
  background-color: rgb(1, 105, 1);
  border: 3px solid blue;
}

@media (max-width: 600px) {
  #navbarNav {
    margin: 0;
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: rgba(0, 0, 0, 0.021);
  }

  .navbar .navbar-nav {
    margin-left: 0;
  }

  .navbar .navbar-nav .nav-item:nth-child(2) {
    margin-left: 0;
    border-top: 3px solid black;
    padding-top: 10px;
  }

  .navbar .navbar-nav .nav-item {
    text-align: center;
    padding-bottom: 10px;
  }

  .back-text {
    display: none;
  }
}
